@charset "UTF-8";

/* Cores usadas
    Branco = #f7f7f7
    Preto = #484848
    Roxo Escuro = #79239D
    Verde Escuro = #9BCCAF
    Verde claro = #B2D7C1

   Fontes Usadas
    Ubuntu
*/

@media screen and (min-width: 768px){

    
    main {
        width: 80%;
        max-width: 1080px;
    }

    img#imgcartao1 {
        display: none;
    }

    div#h3ganha {
        column-count: 2;
    }

    p#linkpdf {
        overflow: hidden;
    }

    div#imgcard {
        column-count: 3;
        
    }

    id#h3difere {
        column-count: 2;
    }

    div#colunduvida {
        column-count: 2;
    }

    div#duv1 {
        overflow: hidden;
    }

    div#duv2 {
        overflow: hidden;
    }
    
    h3#h3duv {
        overflow: hidden;
    }
    
    p#pduv {
        overflow: hidden; 
    }

    div#clienteimg {
        column-count: 2;
    }

    div#clienteimg02 {
        display: block;
    }

   div#contato1 {
    column-count: 2;
    
   }  

   div#linkcontato {
    overflow: hidden;
   }

   div#linkcontato1 {
    overflow: hidden;
   }
    
   a#contato {
    overflow: hidden;
    font-size: smaller;
   } 

   div#logohist {
    column-count: 2;
   }
    
   img#contato {
    text-align: center;
    width: 80px;
    height: 80px;   
    padding: 0px 0px 0px 0px; 
    overflow: hidden;
   }
   

   div#contato {
    display: none;
}

div#divrodape {
    column-count: 2;
}

img#pagamento1 {
    display: none;
}
   
}









@media screen and (min-width: 992px){

    main {
        width: 80%;
        max-width: 1200px;
    }

    header {
      
        background-color: ffffff;
        overflow: hidden;
    
        box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
    }

    p, strong {
        overflow: hidden;
    }

    div#portbutton{
        /*column-count: 2;*/
        padding: 5px 20px 5px 20px;
        
    }
   
   
    div#header1 { /*dividindo menu em duas colunas*/
        column-count: 2;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: auto;
        padding: 10px;
        overflow: hidden;
        background: initial;
    }
    

   div#logo { /*montrando div logo*/
        display: block;
        width: 30%;
        height: 100%;
        float: left;
        
    }

    img#logo{
        margin: auto;
        width: 200px;
        height: 45px;
        overflow: hidden;
    }

    header > div > div > menu {
        position: initial;
        margin: auto;
        display: block;
        overflow: hidden;
        width: 100%;
        border-top: initial;
        left: initial;
        right: initial;

    }

    div#menu {
        width: 70%;
        height: 100%;
        float: left;
       
        display: block;
        margin: auto;
    }

    menu#itens { /*mostrando o menu*/
        background: initial;
        display: block;
        overflow: hidden;
        
   
    }


    header > div > div > menu > a {
        display: inline;
        margin: auto;
        background-color: initial;
        text-decoration: none;
        border-bottom: initial;
        text-align: left;
        padding: 0px 10px 0px 0px;
    
        
    }

    header > div > div> menu > a:hover {
        background-color: initial;
    }
    
    header > div > div> menu > a >strong:hover {
        color: #e1a8ea;
        scale: 50%;
    }


 

    p#burguer { /*escondendo o menu hamburguer*/
        display: none;
    }

  









    main {
        padding: 60px 0px 0px 0px;
        overflow: hidden;
    }

    div#h1princ {
        column-count: 2;
        overflow: hidden;
        padding: 10px 0px 30px 0px;
    }

    div#h1 {
        overflow: hidden;
    }

    div#aveja{
        padding: 50px;
        overflow: hidden;
    }

    a#veja {
        overflow: hidden;
    }

    div#img1 {
        display: flex;
        justify-content: center;
        align-items: center;
  
    }


    img#banner {
        margin: auto;
        width: 85%;
        height: 85%;
        display: initial;
        padding: 20px 0px 20px 0px;
        

        overflow: hidden;

        
    }






    div#h3ganha {
        column-count: 4;
        
    }


    .h3ganha3 {
        overflow: hidden;
    }

    div#imgcard {
        column-count: 5;
        
    }

    img#imgcartao1 {
        display: block;
    }


    div#botoes{
        column-count: 1;
        padding: 5px 30px 60px 30px;
    }





    .difere {
        overflow: hidden;
    }

    div#h3difere {
        column-count: 2;
        padding: 40px 0px 0px 0px;
        
    }

    div#video {
        text-align: center;
        overflow: hidden;
        padding: 20px 20px 30px 20px;
    }



    div#colunduvida {
        column-count: 2;
    }


    div#videocontainer {
        column-count: 2;
    }

    h3#h3video1 {
        padding: 0px 0px 0px 40px;
    }

    div#contato {
        display: none;
    }

    div#divrodape {
        column-count: 4;
    }

    img#pagamento1 {
        display: none;
    }

    
}