@charset "UTF-8";

/* Cores usadas
    Branco = #f7f7f7
    Preto = #484848
    Roxo Escuro = #79239D
    Verde Escuro = #9BCCAF
    Verde claro = #B2D7C1

   Fontes Usadas
    Ubuntu
*/

@media screen and (min-width: 768px){

    
    main {
        width: 80%;
        max-width: 1080px;
    }

    img#imgcartao1 {
        display: none;
    }
    
    div#h3ganha {
        column-count: 2;
    }

    div#imgcard {
        column-count: 3;
        
    }

    id#h3difere {
        column-count: 2;
    }
    
}


@media screen and (min-width: 992px){

    main {
        width: 80%;
        max-width: 1080px;
    }

    header {
        background-image: linear-gradient(#ffffff,   #d1f229);
    }

    i#burguer {
        display: none;
    }

    header > div > menu {
        display: block;
        
    }

    header > div > menu > a {
        display: inline;
    }

    div#h1princ {
        column-count: 2;
    }

      img#banner {
        width: 80%;
        
    }

    div#h3ganha {
        column-count: 4;
    }

    div#imgcard {
        column-count: 5;
        
    }

    div#h3difere {
        column-count: 2;
    }

}