@charset "UTF-8";

/* Cores usadas
    Branco = #f7f7f7
    Preto = #484848
    Roxo Escuro = #79239D
    Verde Escuro = #9BCCAF
    Verde claro = #B2D7C1

   Fontes Usadas
    Ubuntu
*/

/*Importação das fontes Ubuntu do Google*/
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap');


/*Configuração geral*/
* {
    padding: 0px;
    margin: 0px;
    
    color: #484848;
    font-family: 'Ubuntu', sans-serif;
        
    box-sizing: border-box;
}

/*Todos os paragrafos*/

P {
    text-align: justify;
    line-height: 1.5em;
    padding: 0px 40px 0px 40px;
    line-height: 1.8em;
}

/*Configuração html e body*/

html, body {
    background-color: #f7f7f7;
    margin: auto;   
}

/*Cabeçlaho*/

header {
    background-color: white;
    margin: auto;
    text-align: center;
    width: auto;
    
    /*border-bottom:  1px solid #48484822;*/
}

/*Econdendo a logo mobile firt*/
div#logo {
    display: none;
}


/*Configuração menu mobile first*/
i#burguer {
    color: #79239D;
    display: block;
    text-align: right;
    padding: 20px;
    cursor: pointer;
    border-bottom: 1px solid #48484822; 

}

/*icone menu ao passar o mouse*/
i#burguer:hover {
    color: #78239d7e;
    transform: scale(99%); 
   
}

/*Configuração do menu mobile first*/
header > div > menu {
    display: none;
    background-color: #ffffff;
    
    position: absolute;
    margin: auto;
    width: 70vw;
    padding: 10px;
    border-top: 3px solid #79239D;
    
    left: 10%;
    right: 10%;    
}

/*Configuração dos links do menu mobile first*/
header > div > menu > a {
    display: block;
    margin: auto;
    background-color: #ffffff;
    text-decoration: none;
    padding: 15px 25px 15px 25px;
    border-bottom: 1px solid rgb(255, 255, 255);
    text-align: left;

    
}

/*Configuração dos links do menu mobile first ao passar o mouse*/
header > div > menu > a:hover {
    background-color: #f7f7f7;
    transform: scale(97%); 
}

/*main fundo principal*/

main {
    margin: auto;
    
}


h1#h1{

    padding: 40px 40px 40px 40px;
}

/*div da botão do banner*/
div#aveja{
    padding: 50px;
}

/*Botão veja quem fez*/
a#veja {
    margin: auto;
    display: block;
    background-color: #79239D;
    color: #f7f7f7;
    border: 2px solid;
    border-radius: 20px;
    padding: 20px;
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 0.8em;
    letter-spacing: 7px;  
    
}

/*Css imagem do banner*/
img#banner {
    margin: auto;
    width: 100%;
    display: block;
    padding: 20px 30px 40px 30px;
    
}

/*CSS h2*/
div#h21{
    padding: 40px 40px 40px 40px;
}

/*primeira parte div ganha*/
div#ganha {
    margin: auto;
    background-color: #ffffff;
}

/*h3 dentro do ganha*/
div#h3ganha {
    text-align: center;
    column-count: 1;
    padding: 10px 0px 10px 0px;
}

/**/
div.h3ganha3 {
    padding: 20px 0px 20px 0px;
}

/*ícones do ganha*/
i#linkpdf {
    color: #79239D;
    font-size: 3.5em;
    
    padding: 10px;
}



/*
menu {
    animation-duration: 2s;
    
    transition: transform 0.3s ease;
    

    animation-name: slidein
  }
  
  @keyframes slidein {
    
    from {
      margin-top: 50%;
      width: 20vw;
    }
  
    to {
      margin-top: 0% ;
      width: 70vw;
    }
   

    }
    
 */ 

