@charset "UTF-8";

/* Cores usadas
    Branco = #f7f7f7
    Preto = #484848
    Roxo Escuro = #79239D
    Verde Escuro = #9BCCAF
    Verde claro = #B2D7C1

   Fontes Usadas
    Ubuntu
*/

/*Importação das fontes Ubuntu do Google*/
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap');

* {
    padding: 0px;
    margin: 0px;
    
    color: #484848;
    font-family: 'Ubuntu', sans-serif;
        
    box-sizing: border-box;
}

P {
    text-align: justify;
    line-height: 1.5em;
    padding: 20px 0px 20px 0px;
    line-height: 1.8em;
}

html, body {
    background-color: #f7f7f7;
    margin: auto;   
}

header {
    margin: auto;
    text-align: center;
    width: 90vw;
    padding: 10px;
    /*border-bottom:  1px solid #48484822;*/
}

div#logo {
    display: none;
}

i#burguer {
    color: #79239D;
    display: block;
    text-align: right;
    padding: 20px;
    cursor: pointer;
    border-bottom: 1px solid #48484822; 

}

i#burguer:hover {
    color: #78239d7e;
    transform: scale(99%); 
   
}

header > div > menu {
    display: none;
    background-color: #f7f7f7;

    position: absolute;
    margin: auto;
    width: 70vw;
    padding: 10px;
    border-top: 3px solid #79239D;
    
    left: 10%;
    right: 10%;    
}

header > div > menu > a {
    
    display: block;
    margin: auto;
    background-color: #f7f7f7;
    text-decoration: none;
    padding: 10px 25px 10px 25px;
    border-bottom: 1px solid rgb(255, 255, 255);
    text-align: left;

    
}

header > div > menu > a:hover {
    background-color: white;
    transform: scale(97%); 
}

main {
    margin: auto;
    width: 90vw;
    padding: 20px;
}


main > h1 {
    padding: 10px;
    text-align: left;
    
}

button#veja {
    background-color: #79239D;
    margin: auto;
    display: block;
    color: #f7f7f7;
}

img#banner {
    margin: auto;
    width: 100%;
    display: block;
    padding: 30px 0px 30px 0px;
    
}

main > h1 {
    padding: 10px;
    text-align: left;
    
}

div#aveja{
    padding: 30px 0px 30px 0px;
}

a#veja {
    margin: auto;
    display: block;
    background-color: #79239D;
    color: #f7f7f7;
    border: 2px solid;
    border-radius: 20px;
    padding: 20px 0px 20px 0px;
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 0.8em;
    letter-spacing: 7px;  
    
}

div#h21{
    padding: 10px 0px 10px 0px;
}

div#ganha {
    padding: 10px 0px 10px 0px;
}

div#h3ganha {
    column-count: 1;
    padding: 10px 0px 10px 0px;
}

div.h3ganha3{
    padding: 10px 10px 10px 10px;
}

/*
menu {
    animation-duration: 2s;
    
    transition: transform 0.3s ease;
    

    animation-name: slidein
  }
  
  @keyframes slidein {
    
    from {
      margin-top: 50%;
      width: 20vw;
    }
  
    to {
      margin-top: 0% ;
      width: 70vw;
    }
   

    }
    
 */ 

